*{
    margin: 0%;
    padding: 0%;
    font-family: "Space Grotesk", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Squartiqa 4F", sans-serif;
    text-transform: uppercase;
    font-weight: 400;

}


@font-face {
    font-family: 'Squartiqa4F';
   
    src: url('font/Squartiqa4F.woff2') format('woff2'),
         url('font/Squartiqa4F.woff') format('woff'),
         url('font/Squartiqa4F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    overflow-x: hidden;
background-color:#060914 ; 

}
.bm{
    background-image: url("/images/hero3.webp");
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
background-repeat: no-repeat;

}
.moon{
    background-color: rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100vh;
}

a{
    color: inherit;
    text-decoration: none;
}
.ed{
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    right: 3%;
    top: 31%; 
}


.it{
    transition: all .5s linear; transform: translateY(-100px);
}
.rit{
    transition: all .5s linear; transform: translateY(0px);
}
.mi{
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    right: 3%;
    top: 31%;   
}
.fd{
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    right: 3%;
    top: 31%;     
}

.id{
    transition: all .5s linear; transform: translateY(100px);
}

.im{ 
    box-shadow: #0127ff 0px 3px 35px;
    padding: 30px ;
font-size: 30px;
background-color: #6379f7;
border-radius: 50%;
}
.no{
    display:none;
}

