*{
    margin:0%;
    padding:0%;
}

@font-face {
  font-family: 'Squartiqa4F';
 
  src: url('font/Squartiqa4F.woff2') format('woff2'),
       url('font/Squartiqa4F.woff') format('woff'),
       url('font/Squartiqa4F.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.news{
    display:flex;
    background: linear-gradient(90deg, #4FEDB9 0%, #4FEDD1 100%);
  
    position:  fixed;
    width: 100%;
justify-content: space-between;
  }


  .ticker-wrap {
    padding: 9px;
    position: fixed;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
  overflow-x: hidden;
    background: linear-gradient(90deg, rgb(79, 237, 185) 0%, rgb(79, 237, 209) 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999;
  }
  .ticker-wrap .ticker {
    display: inline-block;
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 19s;
    animation-duration: 19s;
  }

  @keyframes ticker {
    0% {
    
      transform: translateX(0%);
      
    }
    100% {
      
      transform: translateX(-100%);
    }
 }

  .ticker-wrap .ticker__item {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.02rem;
    padding-left: 10px;
    margin-top: 10px;
  }
  

  /*navbar design*/

.flexNav{
  width: 100%;
  top: 0%;
  z-index:9999;
  background-color:#20294b ; 
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
justify-content: space-between;
position: fixed;
padding-top: 10px;
padding-left: 3%;
}

.nav{
  display: flex;

  align-items: center;
 justify-content: space-between;

margin-right: 5%;
  
}
.nav .r{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.285;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;

  margin: 0px 14px;
  transition: all 5ms linear 0s;
  cursor:pointer;

}
.r{
  color: rgb(226, 226, 226);
}

.r:hover{
  color: white;

}

.logo{
  width: 30%;
  text-align: left;
}
.logo img{
  width: 40%;
  transition: all .5s linear;
}
.logo img:hover{
  transform: scale(1.2);
}
.gan{
  display: flex;
  flex-direction: column;

}
.gan:hover .mr{
  display: block;
   
}

.mr{
  background-color: black;
  padding: 10px 15px;
  width:fit-content;
  color: white;
  display: none;
  position: relative;
top: 30%;

}